header {
    background-color: #552583;
    color: white;
    text-align: center;
    padding: 5px;
    margin: 5px;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: auto;
    box-sizing: border-box;
    color: black;
}

nav a {
    text-decoration: double;
    color: black;
}

nav {
    color: black;
    padding: 5px;
    margin: 5px;
}

nav ul {
    list-style: square;
    margin: 0;
    padding: 5px;
    display: flex;
    justify-content: space-around;
}

section {
    margin: 10px;
}

button {
    background-color: #552583;
    color: white;
    padding: 5px;
    border: 0;
}

button:hover {
    background-color: #FDB927;
}

footer {
    background-color: #552583;
    color: white;
    text-align: center;
    padding: 3px;
}